body {
    font-family: Arial;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    background: #2c3e50;
    color: white;
    min-height: 100vh;
    padding: 15px;
}

.sidebar li {
    cursor: pointer;
    margin: 10px 0;
}

.main {
    padding: 20px;
    width: 100%;
}

input, button {
    margin: 5px 0;
    padding: 8px;
}

